@font-face {
  font-family: 'Marchant Copy';
  src: url(./font/dpcomic.ttf);
}

#root, html{
  height: 100%;
  image-rendering:pixelated;
  font-family: 'Marchant Copy';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}


.App{
  overflow: hidden;
  height: 100%;
  background-color: rgb(124, 228, 231);
}

.mainmenu{
  display: flex;
  width: 300px;
  background-color: rgba(133, 154, 209, 0.484);
  align-items: center;
  padding: 15px;
  flex-flow: column;
}

.battleApp{
  overflow: hidden;
  height: 100%;
}

h4{
  margin: 0;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.box{
  background-color: gray;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.prop{
  transform-style:preserve-3d;
  position: absolute;
  width: 100px;
  height: 100px;
  /*transition: all 0.3s;*/
}



.player{
  border: 0px solid rgba(0, 0, 0, 0.11);
  cursor: pointer;
  /*transition: transform 0.3s;*/
}

.imgpropcontainer{
  position: absolute;
  transform-origin: bottom;
  width: 100px;
  top:-250px;
  left: 0;
  height:300px;
  transform: rotateX(90deg) rotateY(270deg);
  /*transition: all 0.3s;*/
  pointer-events: none;
}

.infoplayer{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 175px;
  height:30px;
  opacity: 1;
  transition: all 0.3s;
  pointer-events: all;
  transform-style:preserve-3d;
  background-color: rgba(0, 204, 255, 0.5);
}

.info{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 140px;
  height:45px;
  opacity: 1;
  transition: all 0.3s;
  pointer-events: all;
  transform-style:preserve-3d;
  background-color: rgba(0, 204, 255, 0.5);
}

.infobox{
  display: flex;
  flex-direction: column;
}

.enemy{
  pointer-events: all!important;
  cursor: pointer;
}

.imgpropcontainer:hover > .info{
  opacity: 1!important;
  transition: all 0.3s;
}

.imgprop{
  position: absolute;
  width: 100%;
  bottom: 0;
  pointer-events:all;
  /*transition: all 0.3s;*/
}

.highlight:hover{
  filter:brightness(200%);
}



.imgplayertop{
  bottom: -15px;
  position: relative;
  height: 70px;
  transition: all 0.3s;
  cursor: pointer;
}

.tree:hover > .imgplayer1{
  opacity: 0.6;
  transition: all 0.3s;
}

.tree:hover > .imgplayer2{
  opacity: 0.2;
  transition: all 0.3s;
}



.tree {
  pointer-events: none!important;
}

.triangle{
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid blue;
  transform-origin: center;
}

.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0, 0, 134);
  transform: translateZ(21px);
}

.flatpointer{
  position: absolute;
  top: 2px;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  border: 4px solid red;
  cursor: pointer;
}

.row{
  display: flex;
  
}

.board{
  position: absolute;
  margin: 20px;
  width: 624px;
  transform-style:preserve-3d;
  transition: all 0.3s;
  pointer-events:all;
}

.boardcontainer{
  height: stretch;
  width: 100%;
  top:0;left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  overflow:visible;
  user-select: none;
  z-index: 1!important;
  transform-style:preserve-3d;
  pointer-events: none;
  animation-name: start_battle;
  animation-duration: 3s;
  animation-play-state: running;
  animation-iteration-count: 1;
}

#background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.App{
  margin: 0px;
}


.side{
  background-color: rgb(95, 95, 95);
  border: 2px solid black;
}

.settingsbutton{
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 4;
  cursor: pointer;
}

.Settings{
  margin-top: 10px;
}

#pointer{
  animation-duration: 0.8s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.navigation{
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(12, 185, 208);
  border: 2px solid white;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  transform-origin: top right;
  transform: scale(1.5);
  z-index: 5;
  opacity: 0.85;
}

.navico{
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.navico:hover{
  color: blue;
  
}

.rotateright{
  top:35px;
  left:10px;
  transform: scaleX(-1) scaleY(-1) rotate(0deg);
}

.rotateleft{
  top:35px;
  right:10px;
  transform: scaleY(-1) rotate(0deg);
}

.zoomin{
  top:10px;
  left:35px;
}

.zoomout{
  bottom:10px;
  left:35px;
}

.reachable{
  position: absolute;
  width: 102px;
  height: 102px;
  pointer-events: none;
}

.turnbox{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 130px;
  height: 280px;
  background-color: rgba(12, 185, 208, 0.4);
  border: 2px solid white;
  border-radius: 10px;
  top: 200px;
  right: 10px;
  z-index: 5;
  transition: all 0.3s;
}

.turn{
  color: white;
  position: absolute;
  height: 30px;
  width: 100%;
  left: 130px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(12, 110, 208);
  transition: all 0.3s;
}

.nextTurn{
  position: relative;
  top: 10px;
}

/* ANIMATIONS */

@keyframes pointer_ready {
  0%{transform:translateZ(310px) scale(0.5)}
  50%{transform:translateZ(300px) scale(0.5)}
  100%{transform:translateZ(310px) scale(0.5)}
}

@keyframes start_battle {
  0%{transform:scale(1.5); opacity: 0;}
  10%{transform:scale(1.5); opacity: 0;}
  80%{transform:scale(1); opacity: 1;}
  100%{transform:scale(1); opacity: 1;}
}